<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="informationRevise.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/41cdbb121d.js" crossorigin="anonymous"></script>

    <title>Mbti MyPage</title>
</head>
<body>
<!--    헤더-->
<div class="header_line">
    <header id="header">
        <!--            로고-->
        <h1 id="logo"><a href="mainPage.html">Mbti</a></h1>
        <!--            메뉴-->
        <nav id="navbar">
            <ul id="centerMenu">
                <li><a href="http://localhost:8080/mbti/mainpage">홈</a></li>
                <li><a href="http://localhost:8080/mbti/Introduction">소개</a></li>
                <li><a href="/mbti/login" th:if="${userSession==null}">로그인</a></li>
                <li><a th:if="${userSession!=null}" th:href ="@{/mbti/logout/pro}">로그아웃</a></li>
            </ul>
        </nav>
    </header>
</div>

<!--메인-->
<section class="main">
    <!--바깥 상자 (파란색)-->
    <section id="out_line">
        <h2>정보 수정</h2>
        <!--        안쪽 상자 (흰색)-->
        <section id="in_line">
            <!--            회원 정보-->
            <form action="" method="post">
            <span id="container">
                <div id="information_box1">
                    <p><span>성격유형</span>&nbsp;<input type="text" name="mbti" id="mbti" disabled value="ENTJ"></p>
                    <p><span>아이디</span>&nbsp;<input type="text" name="id" id="id" disabled value="admin1"></p>
                    <p><span>비밀번호</span>&nbsp;<input type="text" name="id" id="pw" style="ime-mode:disabled" required></p>
                </div>
                <div id="information_box2">
                    <p><span>이름</span>&nbsp;<input type="text" name="name" id="name" required></p>
                    <p><span>생년월일</span>&nbsp;<input type="text" name="birth" id="birth" required></p>
                    <p><span>전화번호</span>&nbsp;<input type="text" name="number" id="number" required></p>
                </div>
            </span>
            <div id="information_box3">
                <a href="myPage.html" id="back">뒤로가기</a>
                <input type="submit" value="수정하기">
            </div>
            </form>
        </section>
    </section>
</section>

</body>
</html>